@import "bootstrap-sprockets";
@import "bootstrap";

@include make-grid(sm);
@include make-grid(md);
@include make-grid(lg);

body {
	margin-left: 20px;
	margin-right: 20px;
}
.table-bordered {
	font-size: 12px;
}
.table-bordered > tbody > tr > td{
	border: 1px solid black;
}
.table-bordered > tbody > tr{
	border: 1px solid black;
}
hr {
	border-color: rgb(0, 0, 0);
	background-color: rgb(0, 0, 0);
	color: rgb(0, 0, 0);
}
.double-horizontal {
	border-top: 4px double black;
}
.double-vertical {
	border-right: 4px double black;
}