@import "bootstrap-sprockets";
@import "bootstrap";

@include make-grid(sm);
@include make-grid(md);
@include make-grid(lg);

.borders {
	border: 1px solid black;
}
body {
	margin-left: 20px;
	margin-right: 20px;
}
.no-top {
	border-top-style: none;
	padding-top: 1px;
}
.no-bot {
	border-bottom-style: none;
	padding-bottom: 1px;
}